python-dotenv
lightgbm
setuptools
scikit-learn
pymongo
catboost
xgboost
pandas
matplotlib
seaborn
openfe
tqdm
python-okx
motor
aiohttp
typing
tsfresh
fastapi
streamlit
scipy
statsmodels
finplot
mplfinance
akshare
qstock
pywencai
PyInstaller
python-telegram-bot
OmegaConf
faker
hydra-core